@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Press Start 2P*/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Monoton&family=Nova+Mono&display=swap');
/*Nova Mono*/

img{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  max-width: 100%;
}
.espaco{
  width: 200px;
}

/* Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #000000;
  position: relative;
}

.p{
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  background: (255, 255, 255, 0.7);
  width: 408px;
  padding: 100px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(255,255,255,0.18);
  font-family: "Nova Mono";
  color: #0ff
  
}

.titulo{
  font-family: "Press Start 2P";
  font-size: 50px;
}

/* Navbar fixa */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #111;
  color: rgb(217, 15, 166);
  display: flex;
  align-items: center;
  justify-content: space-between; /*para ajustar o conteudo da navbar no centro*/
  gap: 2rem;
  padding: 15px 40px;
  z-index: 1000;
  font-family: "Nova Mono";

}

.navbar h1 {
  margin: 0;
  white-space: nowrap;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0 600px;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
  
}

.navbar a {
  text-decoration: none;
  color: rgb(217, 15, 166);
  transition: 0.3s;
  white-space: nowrap;

}

a:hover {
  color: #0ff;
  transform: scale(2);
}

.navbar .signup {
  background: #0ff;
  color: #111;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .signup:hover {
  background: #09c;
  color: #fff;
}
.sobre{
  color:#fff;
  font-family: "Press Start 2P";
  font-size: 30px;
  padding-top: 50px;
  padding-left: 40px;

}

h1::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #0ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}
h1.sobre::after{
  transform: scaleX(1);
}
.sobre p{
  padding: 50px;
  font-size: 20px;
  padding-right: 80px;
  width: 75%;
  font-family: "Nova Mono";

}

.perfil{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0ff;
  box-shadow: 0 0 25px #0ff;
}

.criadores h1{
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: #fff;
  margin-bottom: 2rem;
}

.criadores{
  font-family: "Nova Mono";
  color: #fff;
  text-align: center;
}

.devs{
  font-family: "Nova Mono";
  color: #fff;
  margin-left: 40px;
  
}

/* cada desenvolvedor */
.dev {
  display: flex;
  align-items: center; /* centraliza verticalmente a foto e os textos */
  gap: 1.5rem;         /* espaço entre a foto e as infos */
  margin-bottom: 2rem;
}

/* imagem circular */
.dev img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0ff;
}

/* área de informações */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* nome destacado */
.info .nome {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 .5rem;
  color: #fff;
}

/* demais informações */
.info p {
  margin: .2rem 0;
  font-size: 1.1rem;
  color: #ccc;
}

.ranking{
  padding-top: 10rem;
}
table{
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 600px;
  background: #111;
  border-radius: 10px solid #0ff;
  overflow: hidden;
}
thead{
  background: #0ff;
  color: #000;
  font-family: "Press Start 2P";
}
th, td{
  padding: 12px;
  text-align: center;
  font-size: 1rem;
}

td{
  font-family: "Press Start 2P";
  color: yellow;
  font-size: 12px;
}
tbody tr:nth-child(even){
  background: #1a1a1a
}

.games{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card{
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px #0ff;
  transition: transform 0.2s;
}

.card:hover{
  transform: scale(1.05);

}

.card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.info{
  padding: 10px;
}

.info p{
  margin: 10px 0;
  font-size: 1.2rem;
  color: #0ff;
  font-family: "Nova Mono";
}

button{
  background: #4db8ff;
  color: #000;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.seta-voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.seta-voltar:hover {
    background: #f0f0f0;
    transform: scale(1.1);
}

.scoreskg{
  color: #fff;
  font-family: "Press Start 2P";
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 35%;
}

.icon svg{
  margin-left: 35px;
}

.dados img{
  height: 200px;
  width: 200px;
  position: relative;
  border: 5px solid cornflowerblue ;
  border-radius: 50%;
  margin: 20px 0px 20px 200px;

}
.dados{
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  
}

.linha-baixo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.nome{
  border: 2px solid rgb(217, 15, 166);
  width: 400px;
  height: 65px;
  margin-left: 200px;
  border-radius: 6px;
  background-color: rgba(217, 15, 166, 0.315);
}
.edit-button{
 display: inline-flex;
  align-items: center;
  gap: 6px; /* espaço entre ícone e texto */

  padding: 10px 18px;
  background-color: rgb(217, 15, 166);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

  text-align: center;
}
.edit-button:hover {
  background-color: cornflowerblue; /* verde mais escuro */
  transform: scale(1.03); /* leve zoom */
}
.edit-button:active {
  transform: scale(0.97);
}

.nomeUsuario{
  font-family: "Nova Mono";
  font-size: 20px;
  color: #0ff;
  align-items: center;
  text-align: center;
}
