<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Score</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
        <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>
        </ul> 

    </div>
    
</body>
</html>