<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Score</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>
        </ul> 

    </div>

    <div>
        <h1 class="scoreskg">BEST SCORE SNAKEGAME</h1>
    </div>

    <section class="ranking">
        <table>
            <thead>
                <tr>
                    <th>TOP</th>
                    <th>NOME</th>
                    <th>BEST SCORE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1st</td>
                    <td>Cazarotto</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4th</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5th</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6th</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7th</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8th</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9th</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10th</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
    
</body>
</html>