<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criadores</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>
        </ul> 

    </div>

    <div class="criadores">
        <img class="perfil" src="cazarotto.jpg" alt="imagem">
        <h2>Fabricio Deitos Cazarotto</h2>
        <p>RA: 60000165</p>
        <p>Desenvolvedor</p>
    </div>
    <div class="criadores">
        <img class="perfil" src="rottava.jpg" alt="imagem">
        <h2>Rodrigo Estevão Rottava</h2>
        <p>RA: 60001962</p>
        <p>Coordenador</p>
    </div>
    <div class="criadores">
        <img src="" alt="imagem">
        <h2>Kevyn Samuel Souza Barboza</h2>
        <p>RA: 60000906</p>
        <p>PIO</p>
    </div>
    <div class="criadores">
        <img src="" alt="imagem">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="criadores">
        <img src="" alt="imagem">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    
</body>
</html>