<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criadores</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>
        </ul> 

    </div>

    <h1 class="criadores">DESENVOLVEDORES</h1>

    <section class="devs">
        <div class="dev">
            <img src="cazarotto.jpg" alt="cazarotto">
            <div class="info">
                <h2>Fabricio Deitos Cazarotto</h2>
                <p>RA: 6000165</p>
                <p>Desenvolvedor</p>
            </div>
        </div>
        <div class="dev">
            <img src="rottavaPT.jpg" alt="rottava">
            <div class="info">
                <h2>Rodrigo Estevão Rottava</h2>
                <p>RA: 60001962</p>
                <p>Coordenador</p>
            </div>
        </div>
        <div class="dev">
            <img src="vidoc.jpg" alt="kevyn">
            <div class="info">
                <h2>Kevyn Samuel Souza Barboza</h2>
                <p>RA: 60000906</p>
                <p>PO</p>
            </div>
        </div>
        <div class="dev">
            <img src="amilton.jpg" alt="amilton">
            <div class="info">
                <h2>Amilton dos Santos</h2>
                <p>RA: 60000055 </p>
                <p>QA</p>
            </div>
        </div>
        <div class="dev">
            <img src="adrian.jpg" alt="adrian">
            <div class="info">
                <h2>Adrian Stocker</h2>
                <p>RA: 600000052 </p>
                <p>Analista de Requisitos</p>
            </div>
        </div>
    </section>
    
</body>
</html>