<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho Site de Jogos</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>
        </ul> 

    </div>
    <div class="espaco">

    </div>

    <img class="wallpaper" src="wallpaper.jpg" alt="wallpaper">
    
    <section class="p">

        <div class="parallax">
            <h1 class="titulo">Bem-vindo ao seu Fliperama Web</h1>
            <p>Reviva a nostalgia dos clássicos.</p>
        </div>
    </section>


    <section class="games">

        <div class="card">
            <img src="snakegame.jpg" alt="snakegame">
            <div class="info">
                <p>Snake Game</p>
                <a href="../static/snakegame/snakegame.html"><button>Play</button></a> 
            </div>
        </div>
        <div class="card">
            <img src="ping 300.png" alt="pingpong">
            <div class="info">
                <p>Ping Pong Game</p>
                <a href="../static/pingpongGame/jogoPingPong.html"><button>Play</button></a> 
            </div>
        </div>
        <div class="card">
            <img src="MEMORYGAME.png" alt="jogomemoria">
            <div class="info">
                <p>Jogo da Memória</p>
                <a href="../static/memoryGame/memoryGame/index.html"><button>Play</button></a>               
            </div>
        </div>
        <div class="card">
            <img src="quizgame.png" alt="quiz">
            <div class="info">
                <p>Quiz Online</p>
                <a href="../static/jogoquiz/jogoquiz.html"><button>Play</button></a> 
                
            </div>
        </div>

    </section>

<script src="../static/script.js"></script>
<script src="../static/jogoquiz/quiz.js"></script>
</body>
</html>
