<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho Site de Jogos</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>

            <a class="icon" href="perfilusuario.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg></a> 
        </ul> 

    </div>
    <div class="espaco">

    </div>

    <img class="wallpaper" src="wallpaper.jpg" alt="wallpaper">
    
    <section class="p">

        <div class="parallax">
            <h1 class="titulo">Bem-vindo ao seu Fliperama Web</h1>
            <p>Reviva a nostalgia dos clássicos.</p>
        </div>
    </section>


    <section class="games">

        <div class="card">
            <img src="snakegame.png" alt="snakegame">
            <div class="info">
                <p>Snake Game</p>
                <a href="../static/snakegame/snakegame.html"><button>Play</button></a> 
            </div>
        </div>
        <div class="card">
            <img src="pingponggame.png" alt="pingpong">
            <div class="info">
                <p>Ping Pong Game</p>
                <a href="../static/pingpongGame/jogoPingPong.html"><button>Play</button></a> 
            </div>
        </div>
        <div class="card">
            <img src="memorygame.png" alt="jogomemoria">
            <div class="info">
                <p>Jogo da Memória</p>
                <a href="../static/memoryGame/memoryGame/index.html"><button>Play</button></a>               
            </div>
        </div>
        <div class="card">
            <img src="quizgame2.jpg" alt="quiz">
            <div class="info">
                <p>Quiz Online</p>
                <a href="../static/jogoquiz/jogoquiz.html"><button>Play</button></a> 
            </div>
        </div>
        <div class="card">
            <img src="spacegame.png" alt="spacegame">
            <div class="info">
                <p>Space Game</p>
                <a href="../static/nav space/index.html"><button>Play</button></a> 
            </div>
        </div>

    </section>

<script src="../static/script.js"></script>
<script src="../static/jogoquiz/quiz.js"></script>
</body>
</html>
