<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
     <div class="navbar">
        <h1 class="title">WEB GAMES</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="criadores.html">Criadores</a></li>
            <li><a href="bestscore.html">Best Score</a></li>
        </ul> 

    </div>

    <div class="sobre">
        <h1>SOBRE ESSE TRABALHO:</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis mollitia consequatur excepturi quod vero incidunt sint fugit iste doloremque, aliquam asperiores ad dolorem harum. Eveniet, corporis et? Accusamus, voluptates rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident a molestiae aperiam recusandae excepturi, sint vel, maxime voluptatem iure facilis harum illum ea quidem! Aliquam eos sunt laborum facilis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corrupti, ratione incidunt dolor sapiente tempora non quibusdam dolores. Quae, voluptatum id. Assumenda temporibus eos ut perferendis voluptatem impedit recusandae accusantium. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet vel quaerat repellat a quis incidunt dignissimos officiis dolores, alias nam illum sapiente dolore harum modi facere porro quae aperiam aliquam.
        </p>
    </div>
</body>
</html>